<!DOCTYPE html>
<html lang="en" xml:lang="http://thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <object th:include="fragments/fragment :: head"></object>
    <object th:include="fragments/fragment :: js"></object>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul th:replace="fragments/fragment :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/fragment :: navbar"></nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 font-weight-bold" style="color: #656867">Daftar Balita</h1>
                    <p class="mb-4">List data anak berdasarkan kelurahan/domisili</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-sm-flex align-items-center justify-content-between mb-12">
                                <h6 class="m-0 font-weight-bold text-dark">Data Balita</h6>
                                <a th:href="@{/balita/excel/export}" class="btn btn-primary m-auto"> Download </a>
                                <div>
                                    <form th:action="@{/balita/}" method="get"
                                          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group">
                                            <input name="rt" type="number" class="form-control bg-light border-primary" placeholder="Masukan RT"
                                                   aria-label="Search" aria-describedby="basic-addon2">
                                            <input name="rw" type="number" class="form-control bg-light border-primary" placeholder="Masukan RW"
                                                   aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table th:if="${listBalita!=null and !listBalita.empty}" class="table" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nama Anak</th>
                                            <th>Nama Ibu</th>
                                            <th>Tanggal Lahir</th>
                                            <th>Usia</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="balita, iter : ${listBalita}">
                                            <td th:text="${balita.name}"></td>
                                            <td th:text="${balita.id_pengguna.name}"></td>
                                            <td th:text="${#dates.format(balita.birth_date, 'dd MMMM yyyy')}"></td>
                                            <td th:text="${listUmurBalita[__${iter.index}__]}"></td>
                                            <td><a th:href="@{/balita/} + ${balita.id_balita}">Lihat</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 th:unless="${listBalita!=null and !listBalita.empty}">Balita tidak ditemukan.</h2>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <footer th:replace="fragments/fragment :: footer"></footer>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <div th:replace="fragments/fragment :: logout"></div>
</body>

</html>